#tree li .adminpages_action_container{
    visibility:hidden;
    text-align:right;
}
#tree li:hover > span{
    background-color: rgba(240,245,250,0.5);
}
#tree .fancytree-title .labelname{
    padding: 7px 0;
    display: inline-block;
}

.fancytree-expander.glyphicon.glyphicon-minus-sign,
.fancytree-expander.glyphicon.glyphicon-plus-sign {
    margin-top: 10px;
}

#tree .fancytree-container.fancytree-treefocus span.fancytree-node:hover .adminpages_action_container{
    visibility: visible;
    position: absolute;
    right: 0;
    top:0px;
}

#tree .fancytree-container.fancytree-treefocus span.fancytree-node:hover{
    background-color: #F0F5FA;
}

#tree ul li{
    position: relative;
}
